/** @format */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  position: relative;
  background: url(./images/img1.jpg) center/cover;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(80, 80, 80, 0.7);
  z-index: -1;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
  font-size: 1rem;
}

a:hover {
  color: orange;
  text-decoration: underline;
}

/* -----------------HEADER------------------ */
header {
  position: relative;
}

.navbar {
  top: 0;
  width: 100%;
  height: 60px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(rgba(39, 39, 39, 0.7), transparent);
}

.navbar .logo a {
  font-size: 1.5rem;
  font-weight: bold;
  margin-left: 20px;
}

.navbar .links {
  display: flex;
  gap: 2rem;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
}

.navbar .toggle_btn {
  color: #fff;
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
  margin-right: 20px;
}

.action_btn {
  background-color: orange;
  color: #fff;
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
  border-radius: 20px;
  font-size: 0.8rem;
  font-weight: bold;
  cursor: pointer;
  transition: scale 0.2 ease;
  margin-right: 20px;
}

.action_btn:hover {
  scale: 1.05;
  color: #fff;
}

.action_btn:active {
  scale: 0.95;
}

/* --------DROPDOWN MENU-------------- */
.dropdown_menu {
  display: none;
  position: absolute;
  right: 2rem;
  top: 60px;
  height: 0;
  width: 300px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  border-radius: 10px;
  overflow: hidden;
  z-index: 3;
  transition: height 0.2 cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open {
  height: 240px;
}

.dropdown_menu li {
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown_menu .action_btn {
  width: 100%;
  display: flex;
  justify-content: center;
}

/* ---------MULTI SECTION--------- */
section#multi {
  height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
}

#multi h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

/* ---------REGISTER FORM------------- */
.signUp-header {
  margin-bottom: 10px;
}

.form-box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  /* Center horizontally */
  height: 100vh;
  /* Adjust the height for full viewport height */
  z-index: 2;
}

.register-container {
  width: 500px;
  display: flex;
  flex-direction: column;
  transition: 0.5 ease-in-out;
}

.top span {
  color: #fff;
  font-size: small;
  padding: 10px 0;
}

.top span a {
  font-weight: 500;
  margin-left: 5px;
}

header {
  color: #fff;
  font-size: 30px;
  text-align: center;
}

.two-forms {
  display: flex;
  gap: 10px;
}

.input-field {
  font-size: 15px;
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
  height: 50px;
  width: 100%;
  padding: 0 10px 0 45px;
  border: none;
  border-radius: 30px;
  outline: none;
  transition: 0.2s ease;
}

.input-field:hover,
.input-field:focus {
  background: rgba(255, 255, 255, 0.7);
}

::-webkit-input-placeholder {
  color: #fff;
}

.input-box i {
  position: relative;
  top: -35px;
  left: 17px;
  color: #fff;
}

.submit {
  font-size: 15px;
  font-weight: 500;
  color: black;
  height: 45px;
  width: 100%;
  border: none;
  border-radius: 30px;
  outline: none;
  background: rgba(255, 255, 255, 0.7);
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.submit:hover {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 1px 5px 7px 1px rgba(0, 0, 0, 0.2);
}

.two-col {
  display: flex;
  justify-content: space-between;
  color: #fff;
  font-size: small;
  margin-top: 10px;
}

.two-col .one {
  display: flex;
  gap: 5px;
}

/* ---------LOGIN FORM------------ */
.login-form {
  margin-left: 4rem;
}

.inputField {
  font-size: 15px;
  background-color: rgba(255, 255, 255, 0.6);
  color: #fff;
  height: 30px;
  width: 200px;
  padding: 0 10px 0 45px;
  border: none;
  border-radius: 30px;
  outline: none;
  transition: 0.2s ease;
}

.inputField:hover,
.inputField:focus {
  background: rgba(255, 255, 255, 0.1);
}

.signin-btn {
  font-size: 15px;
  font-weight: 500;
  color: black;
  height: 30px;
  width: 100px;
  border: none;
  border-radius: 30px;
  outline: none;
  background: rgba(255, 255, 255, 0.6);
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.signin-btn:hover {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 1px 5px 7px 1px rgba(0, 0, 0, 0.2);
}

/* CREATE YOUR EVENT FORM */

.form-title {
  justify-content: center;
  text-align: center;
  color: white;
  margin-top: 100px;
  font-weight: bold;
}

.eventmakerlabel {
  color: white;
  font-weight: bold;
}

.form-box-createYourEvent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 20px;
  padding: 10px;
}

.input-box-createYourEvent {
  display: block;
  margin-bottom: 10px;
  width: 100%;
  max-width: 800px;
  box-sizing: border-box;
}

.field-createYourEvent {
  font-size: 15px;
  background-color: rgba(255, 255, 255, 0.6);
  color: #fff;
  height: 30px;
  width: 100%;
  max-width: 200px;
  padding: 0 10px 0 45px;
  border: none;
  border-radius: 30px;
  outline: none;
  transition: 0.2s ease;
}

.field-createYourEvent:hover,
.field-createYourEvent:focus {
  background: rgba(255, 255, 255, 0.1);
}

.submit-create-event {
  font-size: 15px;
  font-weight: 500;
  color: black;
  height: 30px;
  width: 100%;
  max-width: 100px;
  border: none;
  border-radius: 30px;
  outline: none;
  background: rgba(255, 255, 255, 0.6);
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.submit-create-event:hover {
  background: rgba(255, 162, 0, 0.99);
  box-shadow: 1px 5px 7px 1px rgba(0, 0, 0, 0.2);
}

/* ----------RESPONSIVE DESIGN-------------- */

@media (max-width: 992px) {

  .navbar .links,
  .navbar .action_btn {
    display: none;
  }

  .navbar .toggle_btn {
    display: block;
  }

  .dropdown_menu {
    display: block;
  }

  .login.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-right: auto;
    margin-left: auto;
  }

  .login.form input,
  .login.form button {
    width: 100%;
    margin: 0;
  }
}

@media (max-width: 576px) {
  .dropdown_menu {
    left: 2rem;
    width: unset;
  }

  .login.form {
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (max-width: 600px) {

  .input-box-createYourEvent,
  .field-createYourEvent,
  .submit-create-event {
    width: 100%;
    max-width: none;
  }
}